@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@500&display=swap');

:root{
  --selected-theme-bg-color: var(--yellow-theme-background-color);
  --selected-theme-main-color: var(--yellow-theme-main-color);
  --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
  --selected-theme-nav-bg-color: var(--yellow-theme-nav-bg-color);

  --yellow-theme-background-color: #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-theme-nav-bg-color:#181818;

  --font-base:"Roboto Slab",serif

}


/* Reset CSS */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background: var(--selected-theme-bg-color);
  height: 100%;
}

#root{
  height: 100%;
}